# Learn about .gitignore file

# comment

# ignore specific file
doc/.DS_Dtore
doc/aaa/.DS_Dtore

# add '/' to first of the pattern to untrack directory
build/

# able to use glob pattern
*.test

# ignore all .pdf files in the doc/ directory
doc/**/*.pdf
